body {
  background-image: url("./img/bg.jpg");
  background-repeat:no-repeat;
  background-position: top;
  text-align: center;
  color: aqua;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

.text {
  margin-top: 5%;
}

button {
  text-align: center;
  background-color: aqua; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

#intro {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 50%;
  color: white;
  background: black;
}

td, th {
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background: black;
  border-color: white;
}